*{
    margin: 0px;
    font-family: "inter";  
   }
#logo{
    margin: 56px;
    margin-top: 52px;
    cursor: pointer;
}

#titulo{
    width: 536px;
    margin-left: 172px;
    margin-top: 100px;
}

#texto{
    margin-left: 172px;
    margin-top: 25px;
    padding-bottom: 100px;
}

#top{ 
    background-image:url(imagens/unsplash__dJCBtdUu74fundo.svg);
    color:aliceblue;
}

#menuinf{
    background:#eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    }
.icone{
    margin: 20px 0px 20px 100px;
    padding: 25px;

}
.textoinf{
    display: flex;
    align-items: center;

}
#mid{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#video{
    margin: 25px 75px 25px 75px;
}
#title{
    margin-top: 25px;
    margin-bottom: 20px;
    color: #247BA0;
}
#carrocel{
    background-color: #247BA0;
    padding: 50px;
}
#tcarrocel{
    font-size: 25px;
    color: white;
    text-align: center;
}
#cards{
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;
        
}
.card{
    margin-left: 25px;
}
#prev{
    display: none;
}
#bruna{
    display: none;
}
.seta{
    margin-top: 50%;
    cursor: pointer;
}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0ms;
}
#bot{
    text-align: center;
    
}
#tbot{
    color: #383838;
    font-size: 27px;
    margin-bottom: 15px;
}
input{
    width: 300px;
    height: 30px;
    background-color: #eaece5;
    margin: 10px;
    border: 0px;
    border-radius: 5px;  
    padding-left: 10px;  
}
button{
    width: 230px;
    height: 40px;
    background-color: #247BA0;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 50px;
    color: #ffffff;
    cursor: pointer;  
}
button:hover{
    background-color: #37a8d8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #09487294;
    transition-duration: 300ms;
    
}